html,
body {
  margin: 0;
  padding: 0;
}

.main-header {
  background-color: rgba(0, 0, 0, 0.3);
  padding-bottom: 10px;
}

.title {
  text-align: center;
  margin: 0;
  font-size: 8em;
  font-family: "Helvetica";
  font-weight: normal;
  color: white;
}

#character-grid > div {
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(207 232 220);
  border: 2px solid rgb(79 185 227);
  width: 10rem;
  height: 10rem;
}

#character-grid {
  display: flex;
  flex-wrap: wrap;
  
}

.footer {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
}

body {
  font-family: "KaiTi", "BiauKai", "DFKai-SB", serif;
}

